@import "variables";
@import "mixins";

/*************************************************************************************************************
 * ITR HEADLINES
 *************************************************************************************************************/

.itr-headline {
  color:       $cocYellowLight;
  font-family: $itr-special-font-list;
  text-shadow: $itr-text-shadow-black;

  &--h1 {
    @include fontXXL;

    margin-bottom: $itr-padding-xxl;
  }

  &--h2 {
    @include fontM;

    margin-bottom: $itr-padding-xl;
  }
}

/*************************************************************************************************************
 * ITR TEXT
 *************************************************************************************************************/

.itr-text {
  color:         $cocTextWhite;
  margin-bottom: $itr-padding-l;
  border-radius: 5px;
  background:    darken(rgba($cocDarkGrey, .25), 20%);
  line-height:   2rem;
  padding:       $itr-padding-xs $itr-padding-s;
  text-shadow:   $itr-text-shadow-black;
}

/*************************************************************************************************************
 * ITR BLOCK (USED TO ORGANIZE CONTENT)
 *************************************************************************************************************/

.itr-block {
  text-align: center;
  padding:    $itr-padding-m 0;

  &--left {
    text-align: left;
  }

  &--right {
    text-align: right;
  }
}

/*************************************************************************************************************
 * ITR HORIZONTAL LINE
 *************************************************************************************************************/

.itr-horizontal-line {
  width:      100%;
  height:     1px;
  background: rgba($cocTextWhite, .9);
  box-shadow: 1px 1px 2px 0 rgba($pureBlack, .5);
  margin:     $itr-padding-xxl 0;
}

/*************************************************************************************************************
 * ITR LINK
 *************************************************************************************************************/

a.itr-link {
  text-decoration: none;
  color:           $blue;
}

/*************************************************************************************************************
 * ITR FORM FIELD + ERROR
 *************************************************************************************************************/

.itr-form-field {
  display:        flex;
  flex-direction: column;
  position:       relative;
  color:          $darkGrey;

  > input {
    margin-top: $itr-padding-xxs;
    order:      1;

    &[required] {

      + span:after {
        content:     '*';
        margin-left: $itr-padding-xxs;
      }
    }
  }

  > a {
    position: absolute;
    right:    0;
    top:      0;
  }

  &:not(:last-child) {
    margin-bottom: $itr-padding-m;
  }
}

/*************************************************************************************************************
 * ITR INPUT
 *************************************************************************************************************/

.itr-input {
  padding:       0.563rem 0.4rem;
  border-radius: $itr-border-radius;
  background:    $white;
  border:        1px solid $lightSmoke;

  &:focus {
    border-color: $blue;
  }

  &::placeholder {
    color: $lightGrey;
  }
}

/*************************************************************************************************************
 * ITR BUTTON
 *************************************************************************************************************/

.itr-button {
  cursor:          pointer;
  position:        relative;
  font-family:     $itr-special-font-list;
  font-size:       0.6rem;
  padding:         $itr-padding-xs $itr-padding-m;
  background:      linear-gradient(lighten($cocBtnGreenDark, 15%), $cocBtnGreenDark);
  box-shadow:      0 2px 4px 0 $pureBlack, inset 0 0 0 1px rgba($cocTextWhite, .6);
  border-radius:   10px;
  border:          1px solid rgba($pureBlack, .7);
  text-decoration: none;

  &:after {
    content:       '';
    position:      absolute;
    display:       block;
    top:           3px;
    left:          3px;
    right:         3px;
    height:        calc(50% - 2px);
    border-radius: 10px;
    background:    lighten($cocBtnGreenDark, 20%);
  }

  > span {
    position:    relative;
    z-index:     1;
    color:       $cocTextWhite;
    text-shadow: $itr-text-shadow-black;
  }

  &--orange {
    background: linear-gradient(lighten(rgba($cocOrangeDark, .7), 15%), rgba($cocOrangeDark, .7));

    &:after {
      background: lighten(rgba($cocOrangeDark, .7), 20%);
    }
  }

  &--red {
    background: linear-gradient(lighten($cocRedDark, 15%), $cocRedDark);

    &:after {
      background: lighten($cocRedDark, 20%);
    }
  }

  &--green {
    background: linear-gradient(lighten($cocGreenDark, 15%), $cocGreenDark);

    &:after {
      background: lighten($cocGreenDark, 20%);
    }
  }

  &--blue {
    background: linear-gradient(lighten($cocBlueDark, 15%), $cocBlueDark);

    &:after {
      background: lighten($cocBlueDark, 20%);
    }
  }

  &--yellow {
    background: linear-gradient(lighten($cocYellowDark, 15%), $cocYellowDark);

    &:after {
      background: lighten($cocYellowDark, 20%);
    }
  }

  &:hover {
    background: linear-gradient(lighten($lightGrey, 15%), $lightGrey);

    > span {
      color:       $pureBlack;
      text-shadow: $itr-text-shadow-white;
    }

    &:after {
      background: lighten($lightGrey, 20%);
    }
  }

  &[disabled] {
    opacity: .5;
  }
}

/*************************************************************************************************************
 * ITR PANEL
 *************************************************************************************************************/

.itr-panel {
  width:         100%;
  max-width:     530px;
  background:    $alabaster;
  border-radius: 5px;
  box-shadow:    $itr-drop-shadow-content-box;
  overflow:      hidden;

  &__header {
    text-align:     center;
    padding:        $itr-padding-m $itr-padding-l;
    padding-bottom: 0;
    position:       relative;

    h3 {
      margin-bottom: $itr-padding-m;
    }

    span {
      @include fontDefault;

      color: $grey;
    }
  }

  &__content {
    padding:        $itr-padding-m $itr-padding-l;
    padding-bottom: 0;
  }

  &__footer {
    padding:         $itr-padding-m $itr-padding-l;
    display:         flex;
    justify-content: space-between;
    align-items:     center;

    &--notes {
      @include fontXS;

      display:    block;
      text-align: center;
      border-top: 1px solid $lightSmoke;
      padding:    $itr-padding-s $itr-padding-m;
      color:      $lightGrey;

      a {
        color: $lightGrey;
      }
    }
  }

  > div:last-child {
    padding-bottom: $itr-padding-m;
  }
}

/*************************************************************************************************************
 *************************************************************************************************************
 * BREAKPOINTS
 *************************************************************************************************************
 *************************************************************************************************************/

@media #{$tabletportrait-up} {

}
