//Font: ClashOfClans
@font-face {
  font-family:    'SupercellMagic';
  src:            url('supercell-magic.woff') format("woff");
  font-style:     normal;
  font-weight:    400;
  text-rendering: optimizeLegibility;
}
