@import "variables";
@import "mixins";

/*************************************************************************************************************
 * MAIN SCAFFOLDING
 *************************************************************************************************************/

html {
  height:                     100%;
  font-size:                  16px;
  line-height:                normal;
  box-sizing:                 border-box;
  overflow-x:                 hidden;
  overflow-y:                 scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing:     antialiased;
}

body {
  min-height:  100vh;
  font-family: $itr-default-font-list;
  color:       $black;
  background:  $cocLightGrey;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

textarea,
input,
button,
[contenteditable] {
  outline: none;

  &:focus {
    outline: none;
  }
}

input[type=search]::-ms-clear,
input[type=search]::-ms-reveal {
  display: none;
  width:   0;
  height:  0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}

/*************************************************************************************************************
 * PAGE LAYOUT
 *************************************************************************************************************/

/* autoprefixer grid: on */
.itr-body {
  min-height:            100vh;
  display:               grid;
  grid-template-columns: 1fr;
  grid-template-rows:    1fr auto;
  grid-template-areas:   "content" "footer";
}

.itr-header {
  position:      fixed;
  top:           0;
  right:         0;
  left:          0;
  z-index:       10;
  background:    rgba($cocDarkGrey, .9);
  color:         $cocTextWhite;
  box-shadow:    0 -2px 5px 5px rgba($pureBlack, .5);
  border-bottom: 1px solid rgba($pureBlack, .4);
  height:        $itr-header-height;
  min-height:    $itr-header-height;
  max-height:    $itr-header-height;
  text-align:    center;

  &__limiter {
    width:           100%;
    height:          100%;
    max-width:       $itr-content-max-width;
    padding:         0;
    display:         inline-flex;
    align-items:     center;
    justify-content: space-between;
  }

  &__logo {
    overflow: hidden;
    cursor:   pointer;
    height:   100%;
    padding:  $itr-padding-xs 0;
  }

  &__navigation {

    ul {
      margin:     0;
      padding:    0;
      height:     100%;
      list-style: none;
      display:    flex;
    }

    li {
      display:     inline-flex;
      padding:     0 $itr-padding-s;
      height:      100%;
      align-items: center;

      //Extend the hard sucking default jimdo navigation items with our custom btn style
      .level_1 {
        @extend .itr-button;
        @extend .itr-button--orange;
      }
    }
  }
}

/* autoprefixer grid: on */
.itr-content {
  height:          100%;
  min-height:      calc(100vh - #{$itr-footer-height});
  grid-area:       content;
  display:         flex;
  flex-direction:  column;
  align-items:     center;
  justify-content: center;

  &__background {
    z-index:  -1;
    position: relative;
    width:    100%;

    > img {
      position: absolute;
      top:      0;
      right:    0;
      bottom:   0;
      left:     0;
      width:    100%;
    }
  }

  &__limiter {
    width:         100%;
    height:        100%;
    max-width:     $itr-content-max-width;
    padding:       $itr-padding-xl;
    background:    rgba($cocDarkGrey, .9);
    box-shadow:    0 4px 5px 1px rgba($pureBlack, .5);
    border-radius: 20px;
    color:         $cocTextWhite;
    border:        1px solid rgba($pureBlack, .4);
    margin-top:    25vw;
    margin-bottom: $itr-padding-xl;
    overflow:      hidden;
    position:      relative;

    &:after {
      content:       '';
      position:      absolute;
      display:       block;
      top:           4px;
      left:          4px;
      right:         4px;
      height:        30px;
      border-radius: 20px;
      background:    linear-gradient(rgba(lighten($cocDarkGrey, 40%), .5), rgba(lighten($cocDarkGrey, 20%), .5));
    }
  }
}

/* autoprefixer grid: on */
.itr-footer {
  grid-area:  footer;
  width:      100%;
  overflow:   hidden;
  z-index:    10;
  color:      $grey;
  height:     $itr-footer-height;
  min-height: $itr-footer-height;
  max-height: $itr-footer-height;
  background: $cocDarkGrey;
  border-top: 1px solid rgba($pureBlack, .4);
  box-shadow: 0 2px 5px 5px rgba($pureBlack, .5);

  &__limiter {
    max-width:       $itr-content-max-width;
    padding:         0;
    height:          100%;
    margin:          auto;
    display:         flex;
    justify-content: center;
    align-items:     center;
  }

  //Hide ugly jimdofree footer ad
  .jimdo-free-footer-ad {
    display:    none;
    visibility: hidden;
  }

  a {
    color:           $white !important;
    text-decoration: none !important;

    &:hover {
      color:           $lightGrey !important;
      text-decoration: underline !important;
    }
  }

  &__lhswrapper {
    flex-direction: row;
    align-items:    center;
    display:        none;

    a {
      font-weight:  600;
      margin-right: $itr-padding-l;
    }
  }

  &__rhswrapper {
    display:     flex;
    align-items: center;

    svg {
      width:       22px;
      height:      22px;
      margin-left: 5px;
    }
  }
}

/*************************************************************************************************************
 *************************************************************************************************************
 * BREAKPOINTS
 *************************************************************************************************************
 *************************************************************************************************************/

@media #{$content-max-down} {

  .itr-header__limiter,
  .itr-footer__limiter {
    padding: 0 $itr-padding-l;
  }
}

@media #{$phone-only} {

  .itr-header__limiter,
  .itr-footer__limiter {
    padding: $itr-padding-xs;
  }

  .itr-page__limiter {
    padding: $itr-padding-xs;
  }
}

@media #{$tabletportrait-up} {

  h1 {
    @include fontXXXXL;
  }

  h2 {
    @include fontXXXL;
  }

  h3 {
    @include fontXXL;
  }

  h4 {
    @include fontXL;
  }

  h5 {
    @include fontL;
  }

  h6 {
    @include fontM;
  }

  .itr-page {
    padding-top: calc(20% + #{$itr-header-heightAtDesktop});
  }

  .itr-header {
    height:     $itr-header-heightAtDesktop;
    min-height: $itr-header-heightAtDesktop;
    max-height: $itr-header-heightAtDesktop;

    &__limiter {
      justify-content: space-between;
    }

    &__logo svg {
      width: 160px;
    }

    &__actions {
      > span {
        display: inline;
      }
    }
  }

  .itr-content {
    min-height: calc(100vh - #{$itr-footer-height});

    &__limiter {
      width:     100%;
      height:    100%;
      max-width: $itr-content-max-width;
    }
  }

  .itr-footer {
    &__limiter {
      justify-content: space-between;
    }

    &__lhswrapper {
      display: flex;
    }
  }
}
