/*************************************************************************************************************
* GLOBAL MIXINS
*************************************************************************************************************/

@mixin ellipsis() {
  white-space:   nowrap;
  text-overflow: ellipsis;
  overflow:      hidden;
}

// Font size ca. 40px (with base 16px)
@mixin fontXXXXL {
  font-size:   2.5rem;
  //line-height: 2.5rem;
}

// Font size ca. 36px
@mixin fontXXXL {
  font-size:   2.25rem;
  //line-height: 2.25rem;
}

// Font size ca. 30px
@mixin fontXXL {
  font-size:   1.875rem;
  //line-height: 1.875rem;
}

// Font size ca. 22px
@mixin fontXL {
  font-size: 1.375rem;
}

// Font size ca. 20px
@mixin fontL {
  font-size:   1.25rem;
  //line-height: 1.25rem;
}

// Font size ca. 18px
@mixin fontM {
  font-size:   1.125rem;
  //line-height: 1.125rem;
}

// Font size ca. 16px
@mixin fontDefault {
  font-size:   1rem;
  //line-height: 1rem;
}

// Font size ca. 15px
@mixin fontS {
  font-size:   0.9375rem;
  //line-height: 0.9375rem;
}

// Font size ca. 14px
@mixin fontXS {
  font-size:   0.875rem;
  //line-height: 0.875rem;
}
