@import "functions";

/*************************************************************************************************************
* APP WIDE COLORS
*************************************************************************************************************/

$lightBlue: #1db0e7;
$blue: #0497ce;
$darkBlue: #007db4;
$lightGreen: #a8c02d;
$green: #8fa714;
$darkGreen: #758d00;
$lightPink: #e0116b;
$pink: #cc0058;
$darkPink: #b10f55;
$cyan: #3aa79e;
$darkCyan: #33948c;
$orange: #ee5024;
$yellow: #fecf2f;
$alabaster: #fbfbfb;
$lightSnow: #f8f9fa;
$snow: #f2f4f6;
$darkSnow: #edf0f2;
$lightSmoke: #dfe2e6;
$smoke: #ced4da;
$darkSmoke: #bdc6cf;
$lightGrey: #babfc1;
$grey: #8c9497;
$darkGrey:           #737b7e;
$nightGrey:          #434f56;
$steel:              #2b4550;
$black:              #192930;
$white:              #fff;
$pureBlack:          #000;

$cocDarkGrey:        #5a5552;
$cocSoftGrey:        #e3e4d4;
$cocLightGrey:       #f2edea;
$cocTextWhite:       #fcfcfc;
$cocOrangeUltraDark: #e24e12;
$cocOrangeDark:      #ff5900;
$cocOrangeLight:     #eca134;
$cocBtnGreenDark:    #858563;
$cocBtnGreenLight:   #ddddc5;
$cocBlackDark:       #18011e;
$cocBlackLight:      #6a6772;
$cocGreenDark:       #488b00;
$cocGreenLight:      #afdd00;
$cocBlueDark:        #007d9d;
$cocBlueLight:       #65b1bf;
$cocPinkDark:        #ad18b0;
$cocPinkLight: #cb70cd;
$cocYellowDark: #d5b105;
$cocYellowLight: #e2cf66;
$cocRedDark: #c70100;
$cocRedLight: #f24f50;
$cocItemBgLight: #d5d5d3;
$cocItemBgDark: #b9bbb6;

/*************************************************************************************************************
* GLOBAL VARIABLES
*************************************************************************************************************/

$itr-default-font-list: 'Open Sans', sans-serif;
$itr-special-font-list: 'SupercellMagic';

$itr-content-max-width: 1240px;
$itr-border-radius: 3px;

$itr-header-height: 50px;
$itr-header-heightAtDesktop: 60px;
$itr-footer-height: 50px;

$itr-padding-xxl: 2.5rem;  //40px
$itr-padding-xl: 2rem;     //32px
$itr-padding-l: 1.5rem;    //24px
$itr-padding-m: 1rem;      //16px
$itr-padding-s: 0.75rem;   //12px
$itr-padding-xs: 0.5rem;   //8px
$itr-padding-xxs: 0.25rem; //4px

$itr-drop-shadow-down: 0 3px 2px 0 rgba($black, .1);
$itr-drop-shadow-down-light: 0 2px 2px 0 rgba($black, .05);
$itr-drop-shadow-up: 0 -3px 2px 0 rgba($black, .1);
$itr-drop-shadow-up-right-light: 3px -3px 2px 0 rgba($black, .1);
$itr-drop-shadow-left: -3px 0 2px 0 rgba($black, .1);
$itr-drop-shadow-right: 3px 0 2px 0 rgba($black, .1);

$itr-drop-shadow-all: 1px 3px 3px 0 #d8dce0;
$itr-drop-shadow-all-hover: 1px 3px 13px 0 #b8babc;
$itr-drop-shadow-content-box: 0 0 20px 0 #dcdcdc;;

//Shadows - Text
$itr-text-shadow-black: 0px 2px 0px $black, 0px 0px 2px $black;
$itr-text-shadow-white: 1px 1px 0 rgba($white, 1);

/*************************************************************************************************************
* MEDIA QUERY STUFF
*************************************************************************************************************/

// Special ui breakpoint range
$content-range: (0px, $itr-content-max-width);

// Media Query Ranges
$phone-range: (0px, 640px);
$tabletportrait-range: (641px, 900px);
$tabletlandscape-range: (901px, 1200px);
$desktop-range: (1201px, 1800px);
$desktopbig-range: (1801px);

// Media Queries
$screen: "only screen" !default;
$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$phone-up: $screen !default;
$phone-only: "#{$screen} and (max-width: #{upper-bound($phone-range)})" !default;
$tabletportrait-up: "#{$screen} and (min-width:#{lower-bound($tabletportrait-range)})" !default;
$tabletportrait-only: "#{$screen} and (min-width:#{lower-bound($tabletportrait-range)}) and (max-width:#{upper-bound($tabletportrait-range)})" !default;
$tabletlandscape-up: "#{$screen} and (min-width:#{lower-bound($tabletlandscape-range)})" !default;
$tabletlandscape-only: "#{$screen} and (min-width:#{lower-bound($tabletlandscape-range)}) and (max-width:#{upper-bound($tabletlandscape-range)})" !default;
$desktop-up: "#{$screen} and (min-width:#{lower-bound($desktop-range)})" !default;
$desktop-only: "#{$screen} and (min-width:#{lower-bound($desktop-range)}) and (max-width:#{upper-bound($desktop-range)})" !default;
$desktopbig-up: "#{$screen} and (min-width:#{lower-bound($desktopbig-range)})" !default;
$desktopbig-only: "#{$screen} and (min-width:#{lower-bound($desktopbig-range)}) and (max-width:#{upper-bound($desktopbig-range)})" !default;

$content-max-down: "#{$screen} and (min-width:#{lower-bound($content-range)}) and (max-width:#{upper-bound($content-range)})" !default;
