<!doctype html>
<html lang="de">
<head>
  <title>Die Istari - CoC Clan</title>

  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
  <meta content="#ffffff" name="theme-color">

  <meta name="robots" content="index, follow">
  <meta name="author" content="Die Istari">
  <meta name="publisher" content="Die Istari">
  <meta name="copyright" content="Die Istari">

  <!-- Livereload server -->
  <script src="http://localhost:35729/livereload.js"></script>

  <!-- Preload fonts -->
  <link rel="preload" href="supercell-magic.woff" as="font" />

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">

  <!-- Favicon stuff and mobile browser header bar theming (for android, theme color is overwritten by JS with company color) -->
  <!--	<link href="../assets/favicon.ico" rel="shortcut icon"/>-->

  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="itr-body">
    <!--<var>sidebar</var>-->
    <header class="itr-header">
      <div class="itr-header__limiter">
        <img class="itr-header__logo" src="coc-clan-badge.png" />
        <nav class="itr-header__navigation">
          <var>navigation</var>
        </nav>
      </div>
    </header>
    <main class="itr-content">
      <div class="itr-content__background"><img src="content-bg.jpg" /></div>
      <div class="itr-content__limiter">
<!--        <var>content</var>-->

        <h1 class="itr-headline itr-headline--h1">Den Tod als Gewissheit. Geringe Aussicht auf Erfolg. Worauf warten wir noch?</h1>

        <div class="itr-text">
          Willkommen auf unserem offiziellen Internetauftritt! Wir sind Die Istari, ein Clan, der sich ständig im Clankrieg befindet. Wir haben über 700 Siege, einen fast grünen Ck-Log und stets volle Clanspiele. Des Weiteren bieten wir einen professionell aufgebauten Discordserver. Doch bei all unserem Ehrgeiz kommt selbstverständlich der Spaß nicht zu kurz - ein belebter Chat und eine lustige Truppe zeugen von unserer einzigartigen Atmosphäre.
        </div>

        <div class="itr-horizontal-line"></div>

        <h2 class="itr-headline itr-headline--h2">Du möchtest Teil unseres Clans werden?</h2>

        <div class="itr-text">
          Du liebst Clankriege, bist ein Teamplayer und lernwillig? Du bist den Kinderschuhen entwachsen und verhälst dich auch dementsprechend?

          Dein Rathaus befindet sich mindestens auf Stufe 11 und dein Dorf ist gut ausgebaut?

          Worauf wartest Du noch?

          <div class="itr-block">
            <a class="itr-button itr-button--green">
              <span>Bewirb dich jetzt!</span>
            </a>
          </div>
        </div>
      </div>
    </main>
    <footer class="itr-footer">
      <div class="itr-footer__limiter">
        <var>footer</var>
      </div>
    </footer>
  </div>
</body>
</html>
