<!doctype html>
<html lang="de">
<head>
	<title>Die Istari - CoC Clan</title>

	<meta charset="utf-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport"/>
	<meta content="#ffffff" name="theme-color">

	<meta name="robots" content="index, follow">
	<meta name="author" content="Die Istari">
	<meta name="publisher" content="Die Istari">
	<meta name="copyright" content="Die Istari">

  <!-- Preload fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">

	<!-- Favicon stuff and mobile browser header bar theming (for android, theme color is overwritten by JS with company color) -->
  <!--	<link href="../assets/favicon.ico" rel="shortcut icon"/>-->

	<link rel="stylesheet" href="styles.min.css">
</head>
<body>
  {{> body}}
</body>
</html>
