<div class="itr-block">
  <!-- It's a wrapper to break content into a new line. By default the content is centered -->
  <!-- Just replace this comments with your text, markup or other widgets -->
</div>

<div class="itr-block itr-block--left">
  <!-- It's a wrapper to break content into a new line. The content is left aligned -->
  <!-- Just replace this comments with your text, markup or other widgets -->
</div>

<div class="itr-block itr-block--right">
  <!-- It's a wrapper to break content into a new line. The content is right aligned -->
  <!-- Just replace this comments with your text, markup or other widgets -->
</div>
