<!-- Default greyish button -->
<a class="itr-button">
  <span>Default Button</span>
</a>

<!-- Orange button -->
<a class="itr-button itr-button--orange">
  <span>Orange Button</span>
</a>

<!-- Red button -->
<a class="itr-button itr-button--red">
  <span>Red Button</span>
</a>

<!-- Yellow button -->
<a class="itr-button itr-button--yellow">
  <span>Yellow Button</span>
</a>

<!-- Blue button -->
<a class="itr-button itr-button--blue">
  <span>Blue Button</span>
</a>

<!-- Green button -->
<a class="itr-button itr-button--green">
  <span>Green Button</span>
</a>
