<!-- Big headline, used for page title -->
<h1 class="itr-headline itr-headline--h1">H1 Headline</h1>

<!-- Middle headline, used for sections on a page -->
<h2 class="itr-headline itr-headline--h2">H2 Headline</h2>
